@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");
header .navbar-nav .nav-link.active,
header .navbar-nav {
  color: #F5C518;
  background-color: black;
  padding: auto; }
  header .navbar-nav .nav-link.active:hover,
  header .navbar-nav:hover {
    color: white; }

header .navbar {
  background-color: black !important; }

header .navbar-toggler-icon {
  background-color: #F5C518; }

header .nav-link {
  display: flex;
  justify-content: center; }

header #navbarTogglerDemo03 {
  padding-right: 10px; }

header .collapse {
  justify-content: right; }

footer {
  background-color: #F5C518;
  color: black;
  display: flex; }
  footer .footer-1 {
    text-align: left;
    margin: 1% 3%; }
  footer .footer-2 {
    text-align: left;
    margin: 1% 3%; }
  footer .footer-3 {
    text-align: left;
    margin: 1% 3%; }
  footer .footer-4 {
    text-align: right;
    margin-left: auto;
    align-items: center;
    margin-top: auto; }
  footer li {
    list-style: none; }
    footer li a {
      text-decoration: none;
      color: black;
      font-family: "Open Sans", sans-serif; }
      footer li a:hover {
        color: white; }

main .nombre-ubicaciones {
  margin-left: 50px;
  font-family: "Open Sans", sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 15px; }
  main .nombre-ubicaciones .mapas-cines {
    display: flex;
    justify-content: center; }

main .filtro-donde-ver {
  display: flex;
  justify-content: right;
  text-align: center;
  margin-right: 2%; }
  main .filtro-donde-ver .dropdown-item {
    color: #F5C518;
    background-color: black;
    width: auto; }
  main .filtro-donde-ver a {
    text-decoration: none;
    color: #F5C518;
    font-family: "Open Sans", sans-serif; }
    main .filtro-donde-ver a:hover {
      color: white; }

main .plataformas-hoy, main .plataformas-hoy__cine {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  margin: 2%; }

main .padre-donde-ver {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  flex-wrap: wrap;
  align-items: center; }
  main .padre-donde-ver .puestos-Streaming {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-family: 'Roboto', sans-serif; }

main .proximos-estrenos {
  display: flex;
  justify-content: center; }

main #pelicula-proximos-estrenos {
  width: 100%;
  margin: 1%; }

main #pelicula-proximos-estrenos img {
  margin: 1%; }

main .animacion {
  transition: all 300ms;
  position: relative; }
  main .animacion:hover {
    transform: scale(1.05); }

main .cartelera-negra {
  background-color: black;
  width: 100%; }
  main .cartelera-negra .ancho-maximo {
    display: flex;
    text-align: center; }

main .mas-vistos, main .mas-vistos__y-clasicos {
  color: #F5C518;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  margin-left: 40px; }

main .padre {
  display: flex;
  justify-content: center;
  background-color: black;
  flex-wrap: wrap; }
  main .padre .card {
    background-color: #F5C518;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 15px; }
    main .padre .card .ver-ahora {
      text-align: center;
      font-size: 17px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold; }

main .modal-content {
  background-color: #F5C518;
  color: black;
  align-items: center;
  width: 120%;
  overflow: hidden; }

main .modal-fade {
  justify-content: center;
  align-items: center; }

main .filtro-proximos-estrenos {
  display: flex;
  justify-content: right;
  text-align: center;
  margin-right: 2%; }
  main .filtro-proximos-estrenos .dropdown-item {
    color: #F5C518;
    background-color: black;
    width: auto; }
  main .filtro-proximos-estrenos a {
    text-decoration: none;
    color: #F5C518;
    font-family: "Open Sans", sans-serif; }
    main .filtro-proximos-estrenos a:hover {
      color: white; }

main .proximos-estrenos {
  display: flex;
  justify-content: center; }

main #pelicula-proximos-estrenos {
  width: 100%;
  margin: 1%; }

main #pelicula-proximos-estrenos img {
  margin: 1%; }

main .animacion {
  transition: all 300ms;
  position: relative; }
  main .animacion:hover {
    transform: scale(1.05); }

main .streaming {
  color: #F5C518; }

main .suscripciones-pagas {
  display: flex;
  align-items: center;
  width: 100%; }
  main .suscripciones-pagas .plataformas-gratuitas {
    display: flex;
    align-items: center; }

main {
  background-color: black;
  color: #F5C518; }
  main h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    padding-left: 15px; }
  main .btn {
    background-color: black; }
