/*PALETA DE COLORES - VARIABLES*/

@import "./utilities/variables";
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
@import "./utilities/header";
@import "./utilities/footer";


main {
    background-color: $FondoBody;
    color: $Letras;

    h4 {
        font-family: $Tipografia;
        font-size: 20px;
        padding-left: 15px;
    }
}