main {

    .nombre-ubicaciones {
        margin-left: 50px;
        font-family: $Tipografia;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;

        .mapas-cines {
            display: flex;
            justify-content: center;
        }
    }
}