main {
    .filtro-donde-ver {
        display: flex;
        justify-content: right;
        text-align: center;
        margin-right: 2%;

        .dropdown-item {
            color: $Letras;
            background-color: $FondoBody;
            width: auto;
        }

        a {
            text-decoration: none;
            color: $Letras;
            font-family: $Tipografia;

            &:hover {
                color: white;
            }
        }
    }

    .plataformas-hoy {
        font-size: 20px;
        font-family: $Tipografia;
        margin: 2%;

        &__cine {
            @extend .plataformas-hoy;
        }

    }

    .padre-donde-ver {
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        flex-wrap: wrap;
        align-items: center;

        .puestos-Streaming {
            font-size: 20px;
            font-family: $Tipografia;
            font-family: 'Roboto', sans-serif;
        }
    }

    .proximos-estrenos {
        display: flex;
        justify-content: center;


        #pelicula-proximos-estrenos {
            width: 100%;
            margin: 1%;

            img {
                margin: 1%;

                .animacion {
                    transition: all 300ms;
                    position: relative;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}