main {
    .mas-vistos-y-clasicos {
        color: $FondoBody;
        font-size: 22px;
        font-family: $Tipografia;
        margin-left: 40px;
    }

    .padre {
        display: flex;
        justify-content: center;
        background-color: black;
        flex-wrap: wrap;

        .card {
            background-color: $Letras;
            color: black;
        }
    }

    .cartelera-negra {
        background-color: $FondoBody;
        width: 100%;

        .ancho-maximo {
            display: flex;
            text-align: center;

        }
    }

    .modal-content {
        background-color: #F5C518;
        color: black;
        align-items: center;
        width: 120%
    }

    .modal-fade {
        justify-content: center;
        align-items: center;
    }
}