.cartelera {
    text-align: center;
}

.mas-vistos-y-clasicos {
    color: $FondoBody;
    font-size: 22px;
    font-family: $Tipografia;
    margin-left: 40px;
}

.card {
    background-color: $Letras;
    color: black;
}

.btn {
    color: #F5C518;
}

.data-bs-toggle {
    background-color: #F5C518;
}

.ancho-maximo {
    display: flex;
    text-align: center;

}

.cartelera-negra {
    background-color: $FondoBody;
    width: 100%;
}

.modal-content {
    background-color: #F5C518;
    color: black;
    align-items: center;
    width: 120%
}

.modal-fade {
    justify-content: center;
    align-items: center;
}

.collapse {
    justify-content: right;
}

.padre {
    display: flex;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap;

}