main {
    .cartelera-negra {
        background-color: $FondoBody;
        width: 100%;


        .ancho-maximo {
            display: flex;
            text-align: center;
        }
    }

    .mas-vistos {
        color: $Letras;
        font-size: 22px;
        font-family: $Tipografia;
        margin-left: 40px;


        &__y-clasicos {
            @extend .mas-vistos;
        }
    }

    .padre {
        display: flex;
        justify-content: center;
        background-color: black;
        flex-wrap: wrap;


        .card {
            background-color: $Letras;
            color: black;
            font-family: $Tipografia;
            font-size: 15px;

            .ver-ahora {
                text-align: center;
                font-size: 17px;
                font-family: $Tipografia;
                font-weight: bold;
            }
        }
    }

    .modal-content {
        background-color: #F5C518;
        color: black;
        align-items: center;
        width: 120%;
        overflow: hidden;
    }

    .modal-fade {
        justify-content: center;
        align-items: center;

    }
}