main {
    .filtro-proximos-estrenos {
        display: flex;
        justify-content: right;
        text-align: center;
        margin-right: 2%;
    }

    .proximos-estrenos {
        display: flex;
        justify-content: center;
    }
    .animacion {
        transition: all 300ms;
        position: relative;
     }
 
     .animacion:hover {
         transform: scale(1.05);
     }
 }
    .pelicula-proximos-estrenos {
        width: 100%;
        margin: 1%;
        .pelicula-proximos-estrenos > img {
            margin: 1%;
        }
        &__peliculas {
            @extend .pelicula-proximos-estrenos ;
            @extend .pelicula-proximos-estrenos ;
            @extend .animacion;
        }
    






}