main {
    .filtrar-proximos-estrenos {
        text-align: right;
    }

    .ProximosEstrenos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 5px;
    }

    &__Peliculas {
        @extend .estilo-proximos-estrenos;
    }

    &__Series {
        @extend .estilo-proximos-estrenos;
    }
}

.estilo-proximos-estrenos {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}