
.filtrar-proximos-estrenos {
    text-align: right;
}

.plataformas-hoy-y-cine {
    font-size: 20px;
    font-family: $Tipografia;
    margin: 20px;
}

.ProximosEstrenosDeCine {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.logo-cinemark {
    width: 150px;
}

.link-column {
    flex-basis: 25.6rem;
    margin-right: 1.6rem;
    margin-bottom: 0;
}

.btn-primary {
    background-color: rgb(39, 34, 37);
    border: #F5C518;
    color: white;
}
